[Unit]
Description=Sapling serial command handler
StartLimitIntervalSec=0
After=multi-user.target

[Service]
Type=simple
Restart=always
RestartSec=10
User=mendel
ExecStart=/bin/bash /home/mendel/src/run.sh

[Install]
WantedBy=multi-user.target
