[Unit]
Description=Sapling serial command handler
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3.7 /home/mendel/sapling-software/coral/src/main.py
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=42s                                                              

[Install]
WantedBy=multi-user.target
